@using eLibrary.Domain.Entities
@model BooksCatalogViewModel

<div class="background-container">
    <div class="books-container">
        <div class="categories-list">
            <h2 class="categories-title">Категории контента:</h2>
            <select атрибуты>
                <option value="" selected disabled hidden>Отображать:</option>
                @foreach (Category category in Model.Categories)@* выбор авторов\плейлистов *@
                {
                    <optgroup label="Авторы">
                        @* группировка внутри списка *@
                        <option>
                            <a asp-controller="Books" asp-action="Index" asp-route-categoryId="@category.Id">
                                @category.Name
                            </a>
                        </option>
                    </optgroup>
                }
            </select>
            @foreach (Category category in Model.Categories)@* показ контента выбранной категории контента *@
            {
                <li>
                    <a asp-controller="Books" asp-action="Index" asp-route-categoryId="@category.Id">
                        @category.Name
                    </a>
                </li>
            }
        </div>

        <div class="books-list">
            <div class="searchbar">
                <form>
                    <label>Найти аудио: </label>
                    <input type="text" name="searchstring" placeholder="Укажите название" />
                    <input type="submit"/>
                </form>
            </div>
            @if (User.IsInRole("admin"))
            {
                <div class="searchbar">
                    <a class="link-button" href="/books/addbook">Добавить аудио</a>
                </div>
            }
            @foreach (Book book in Model.Books)
            {
                <div class="book-card">
                    <div class="book-card-left">
                        <div class="image-container">
                            <img src="/images/books/@book.ImageUrl">
                        </div>
                        <div class="space"></div>
                        @if (User.IsInRole("admin"))
                        {
                            <div class="book-card-actions">
                                <a class="link-button" asp-controller="Books" asp-action="UpdateBook" asp-route-bookId="@book.Id">Изменить</a>
                                <a class="link-button" href="#">Удалить</a>
                            </div>
                        }
                    </div>
                    <div class="book-card-right">
                        <h2>@book.Title</h2>
                        <h3>@book.Author</h3>
                        <div class="space"></div>
                        <div class="link-buttons">
                            <a class="link-button" href="/books/@book.Filename">Слушать</a>
                            <a class="link-button" download href="/books/@book.Filename">Скачать</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>